{% extends 'layout.html' %}


{% block content %}

<div class = "content-section">

    <form action="" method="post">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                New Post
            </legend>

            <div class="form-group">
                <label for="" class="form-control-label">
                    Title: <input type="text" class = "form-control form-control-lg" name="title">
                </label>
            </div>

            <div class="form-group">
                <!-- <div class="form-floating"> -->
                    <label for="floatingTextarea2">Content:</label>
                    <textarea name="content" class="form-control" placeholder="Your input here..." id="floatingTextarea2" style="height: 100px"></textarea>
                  <!-- </div> -->
            </div>

        </fieldset>

        <div class="form-group">
            <button class = "btn btn-outline-info">
                Post
            </button>
        </div>
    </form>
</div>


{% endblock content %}